extends _layouts/base

include _modules/link/link

block content
  .gallery
      button.arrow.arrow-prev
      button.arrow.arrow-next
      .counter
        span.counter-current 1
        span &nbsp;/&nbsp;
        span.counter-total 1
      .screen
        - var i = 0;
        while (i++ < 10)
          img.screen-img(data-src="http://lorempixel.com/600/350/?#{i}")
